# Supabase PostgreSQL Database Connection (Prisma)
DATABASE_URL="postgresql://postgres:[YOUR_PASSWORD]@db.wfgwknuyvqxhnpghjeed.supabase.co:5432/postgres"
DIRECT_URL="postgresql://postgres:[YOUR_PASSWORD]@db.wfgwknuyvqxhnpghjeed.supabase.co:5432/postgres"

# Supabase API Credentials
NEXT_PUBLIC_SUPABASE_URL=https://wfgwknuyvqxhnpghjeed.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_8JG8eGvoTXUXlCnmadyKYQ_aPmiKtrE
SUPABASE_SERVICE_ROLE_KEY="[YOUR_SERVICE_ROLE_KEY]"
